<!--Homepage-->
<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Buzz Feed  Mongo Scraper</h1>
        </div>

    </div>
    <div class="col-md-12">
          <div id="articleRow">
            </div>
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
         </div>
    </div>
</div>
